/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

/*.navbar {*/
    /*border: none;*/
    /*background-color: transparent;*/
/*}*/

/*.well {*/
    /*border: none;*/
    /*background-color: transparent;*/
/*}*/